.enterTransections {
  font-size: 2rem;
  width: 100%;
  p {
    margin: 1rem;
  }
  .enterTransectionForm {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: auto;
    input{
        width: 100%;
        height: 2rem;
        margin: 1rem;
        font-size: 2rem;
        padding: 0.8rem;
  
    }
    button{
        width: 100%;
        font-size: 1.6rem;
        width: 10rem;
        margin: 1rem;
        padding: 0.8rem;
 
    }
  }
}
